#Sounds
#Drum:https://gamepedia.cursecdn.com/dota2_gamepedia/e/ed/Drum_of_Endurance.mp3
#Aeon:https://gamepedia.cursecdn.com/dota2_gamepedia/e/e1/Aeon_Disk.mp3
#Clarity:https://gamepedia.cursecdn.com/dota2_gamepedia/5/58/Clarity.mp3
#Faerie_Fire:https://gamepedia.cursecdn.com/dota2_gamepedia/6/66/Faerie_Fire.mp3
#Healing_Salve:https://gamepedia.cursecdn.com/dota2_gamepedia/4/4e/Healing_Salve.mp3
#Currier:https://gamepedia.cursecdn.com/dota2_gamepedia/0/0e/Donkey_courier_spawn.mp3

#Icons:
#Drum:https://gamepedia.cursecdn.com/dota2_gamepedia/9/91/Drum_of_Endurance_icon.png
#Aeon:https://gamepedia.cursecdn.com/dota2_gamepedia/2/2b/Aeon_Disk_icon.png
#Clarity:https://gamepedia.cursecdn.com/dota2_gamepedia/7/77/Clarity_icon.png
#Faerie_Fire:https://gamepedia.cursecdn.com/dota2_gamepedia/5/54/Faerie_Fire_icon.png
#Healing_Salve:https://gamepedia.cursecdn.com/dota2_gamepedia/3/36/Healing_Salve_icon.png
#Currier:https://gamepedia.cursecdn.com/dota2_gamepedia/1/1c/Animal_Courier_%28Radiant%29_icon.png